body {
  background: rgb(125, 198, 205);
  color: rgb(45, 45, 45);
  padding: 10px;
  font-family: arial;
}

#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav {
  background: rgb(27, 48, 184);
  margin: 20px auto;
  display: flex;
  padding: 10px;
}

h1 {
  display: flex;
  align-items: center;
  color: white;
  flex: 1;
  margin: 0;
}

#nav-ul {
  list-style-image: none;
}

.nav-li {
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* main container area beneath menu */
main {
  background: rgb(245, 238, 219);
  display: flex;
}

.sidebar {
  margin-right: 25px;
  padding: 10px;
}

.sidebar-img {
  width: 200px;
}

.content {
  flex: 1;
  padding: 15px;
}

/* portfolio styles */
#interests {
  border: 4px rgb(55, 185, 181) ridge;
  padding: 8px;
}

h2,
h3 {
  margin: 0px;
}

/* portfolio styles */
.content h1 {
  color: rgb(152, 191, 46);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}

/* responsive web design */
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }
}
h3{
  color:skyblue;
  font-size:48px;
  text-align
  animation:6s glow ease-in-out infinite alternate
}

p{
  color:aqua;
  font-size:30px;
  border-style:double;
  border-color:white;
  border-witdh:15px;
}
p{
  
}
nav li {
  text-align:left;
  color: darkblue;
  font-size: 30px;
  letter-spacing: 5px;
  font-weight: 300;
  margin: 0;
  line-height: 0;
  animation: glitch1 0.5s infinite;
}

nav li:nth-child(2) {
  color: #0ef0e1;
  animation: glitch2 1.0s infinite;
}

nav li:nth-child(3) {
  color: #ff94eb;
  animation: glitch3 1.0s infinite;
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  50% {
    transform: skew(-2deg, 0.6deg);
    opacity: 0.75;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  50% {
    transform: translate(-3px, -1px);
    opacity: 0.5;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    50% {
      transform: translate(3px, 1px);
      opacity: 0.5;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }
  